body {background-color: #020f24; color: #0263ff;}

.wrapper {
   max-width: 1700px;
   margin: 0 auto;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.model {border: 1px solid transparent;}
.model:hover {border: 1px solid #0263ff;}

.content {width: 100%;}
.content h1 {text-align: center;}