body {background-color: #020f24; color: #0263ff;}

.wrapper {
   max-width: 1700px;
   margin: 0 auto;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.model {border: 1px solid transparent;}
.model:hover {border: 1px solid #0263ff;}

.content {width: 50%;}
.content h1 {
   text-align: center;
   margin-top: 80px;
   margin-bottom: 40px;
}

.specifications {
   padding: 0;
   margin: 0 auto;
   display: grid;
   justify-items: center;
   grid-template-areas: "type_name type_mean"
                        "ammo_name ammo_mean"
                        "clrh_name clrh_mean"
                        "clrm_name clrm_mean";
   width: 200px;
}
