:root {
   --font-family: "PP Editorial New", sans-serif;
   --second-family: "Inter", sans-serif;
   --third-family: "Neue Montreal", sans-serif;
   --font3: "PFBaselinePro-Bold", sans-serif;
   --font4: "Digital-7", sans-serif;
   --font5: "Helvetica Now Display", sans-serif;
   --font6: "BL Melody", sans-serif;
   --font7: "Arial", sans-serif;
 }

* {
   padding: 0;
   margin: 0;
}

h2 {
   font-family: var(--second-family);
   font-weight: 600;
   font-size: 631%;
   line-height: 120%;
   letter-spacing: -0.06em;
   padding: 40px 0;
}

h3 {
   font-family: var(--third-family);
   font-weight: 400;
   font-size: 150%;
   padding: 20px 0;
}

a {
   color: inherit;
   text-decoration: none;
}

.header-centering {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.main-header {
   width: 100%;
   height: 122px;
   position: fixed;
   z-index: 10;
   color: #fff;
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 120%;
   .content {height: 100%;}
}

.main-header__time {
   position: relative;
   top: 10px;
   left: -10vw;
}

.main-header__arrows__list {
   gap: 8px;
   li {list-style-type: none;}
}

.section {
   width: 100%;
}

.content {
   width: 1841px;
   margin: 0 auto;
   @media (max-width: 1842px) {
      width: 96%;
   }
}

.section-first {
   background-color: #BCC7C1;
   height: 400px;
}

.section-second {
   background-color: #0B0B0B;
   color: #fff;
}

.section-second__vector_img {
   width: 97px;
   margin: 0 auto;
   padding: 300px 0;
}

.section-second__header {position: relative;}

.section-second__header::after {
   content: '';
   position: absolute;
   left: 6px;
   top: 76px;
   width: 39px;
   height: 30px;
   /* background-color: #ff0000; */
   background-image: url(../icons/triangle.svg);
}

.section-second__feats {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding-bottom: 60px;
   overflow: hidden;
}

.section-second__features {
   position: relative;
   max-width: 920px;
}

/* #feat-work_element-1 {transform: translateX(-1000px);} */
/* #feat-work_element-2 {transform: translateX(1000px);} */

.section-second__features__img-block {
   height: 770px;
   width: 913px;
   background-position: center;
   transition: filter .3s ease 0s;
}
.section-second__features__img-block:hover {
   filter: brightness(0.5);
}

.features_img1 {background-image: url(../images/work1_orig.png);}
.features_img2 {background-image: url(../images/work2_orig.png);}

.section-second__description-text {
   font-family: var(--third-family);
   font-weight: 400;
   font-size: 20px;
   color: rgba(255, 255, 255, 0.45);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   p {max-width: 140px;}
}

.section-second__star {
   padding-top: 250px;
   padding-bottom: 150px;
   display: flex;
   flex-direction: column;
   align-items: center;
   img {position: relative;}
}

.warped::after {
   content: '';
   position: absolute;
   width: 10px;
   height: 10px;
   left: 1px;
   top: 1px;
   /* background-color: #ff0000; */
}

.next-block {
   height: 200px;
   border: #ff0000 2px solid;
   padding-top: 100px;
}